<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/agend-req"></ion-back-button>
        </ion-buttons>
        <ion-title>
          Bem vindo, {{usuario}}
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <div>
        <div class="circle-green">
        </div>
        <p>Solicitação do serviço</p>
      </div>

      <div>
          <div class="circle-green">
          </div>
          <p>Aprovação manual</p>
        </div>

        <div>
            <div class="circle-green">
            </div>
            <p>Confirmação dos dados</p>
          </div>

          <div>
              <div class="circle-gray">
              </div>
              <p>Retorno da Solicitação</p>
            </div>

            <div>
                <div class="circle-gray">
                </div>
                <p class="last-item">Finalização do processo</p>
              </div>
    </div>
</ion-content>
