h3{
    text-align: center;
    color: #acacac;
    font-weight: 500;
    font-size: 18px;
}
h4{
    text-align: center;
    color: #acacac;
    font-weight: 300;
    font-size: 14px;
}
ion-input{
    width: 80%;
    margin:auto;
    text-align: center;
    border-bottom: 1px solid #acacac;
    margin-bottom: 20px;
  }
ion-button{
  width: 50%;
  margin: auto;
}