.card-sub-service{
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    color: #167dcb;
    margin-left: 10%;
    margin-top: 34px;
    padding: 15px 0;
}

.card-sub-service:before{
    font-size: 60px;
    color: #167dcb;
}