h3{
    text-align: center;
    color: #acacac;
    font-weight: 500;
    font-size: 18px;
}
li:before {
    color: #f6b316;
    padding-right: 15px; 
}
ul{
    list-style: none;
    padding-right: 25px;
    margin-top: 20px;
}
li{
    color: #167dcb;
    border-bottom: 1px solid #52bd3a;
    padding-bottom: 15px;
}