<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bem vindo, {{usuario}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <h3>Consulte o serviço desejado:</h3>
    <div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Meu inss</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Enem</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Passaporte</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Campanha de vacinaçao</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Benefícios</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >Extrato Previdencia</p>
      </div>
      <div routerLink="/meu-inss" routerDirection="forward" class="around-option">
        <p >CNH - Detran</p>
      </div>
      
     </div>
 
  </div>
</ion-content>
